body {
    background-image: url("../images/darkness.png");
    box-sizing: border-box;

}

#title {
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: black;
    text-shadow: 1px 1px 45px cyan;
}

#header, #game-container {
    margin: auto;
    max-width: 1200px;
    padding-bottom: 30px;
    background-color: transparent;
    border-color: transparent;
    align-content: center;
}
#game-container {
    margin-bottom: 50px;
}
#wins-losses {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.wins, .losses {
    border-color: lime;
}
.wins {
    float: left;
    width: 50%;

}
.losses {
    width: 50%;
}
#count {
    font-size: 24px;
    height: 75px;
}
/* #score-card {
    align-content: center;
    max-width: 980px;
} */

#box1, #box2 {
    max-width: 980px;
    border-color: lime;
    margin-left: auto;
    margin-right: auto;
}
.card {
    background-color: transparent;
}
.card-header {
    background-color: black;
    border-color: lime;
    color: white;
    font-family: 'Roboto-Mono', monospace;

}

.card-body {
    height: 100px;
   
    background-color: black;
    border-color: lime;
    color: white;
    font-size: 36px;
    font-family: 'Roboto-Mono', monospace;
}
#wrong {
    text-transform: uppercase;
}
#game-word {

    max-width: 980px;
    height: 340px;
    margin-right: auto;
    margin-left: auto;
    border-color: lime;
    background-color: black;
}